-@ val todos: com.mongodb.casbah.MongoCursor
- import com.golmansax.app._

- attributes("title") = "Todo App"
- attributes("headline") = "My Todo App"

a(href="/new-todo")= "New todo"
- for (todo <- todos)
  div
    p= todo.get("name")
    p
      = "Created "
      = ViewHelper.formatTimestamp(todo.get("timestamp").asInstanceOf[Long])
    button Mark Completed
    form(method="post" action="/remove-todo")
      input(type="hidden" name="id" value={todo.get("_id")})
      input(type="submit" value="Remove")
