-@ val todos: com.mongodb.casbah.MongoCursor
- attributes("title") = "Todo App"
- attributes("headline") = "My Todo App"

a(href="/new-todo")= "New todo"
- for (todo <- todos)
  div
    p= todo.get("name")
    p
      Created
      = todo.get("timestamp")
    button Mark Completed
    button Remove
