- attributes("title") = "New Todo"
- attributes("headline") = "New Todo"

form(method="post" action="/create-todo")
  label Name:
  input(type="text" name="name")
  input(type="submit" value="Create Todo")
